@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body {font-family: 'Open Sans', sans-serif;}

body {
  margin: 25px 40px;
}

section h1 {
  font-size: 30px;
  margin: 15px 0;
}

.container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 20px;
  background-color: #fff;
  color: #444;
}

.media {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.media h2 {
  font-size: 24px;
  margin: 5px 0;
}
.media h3 {
  font-size: 18px;
  color: #bbb;
  margin: 5px 0;
}

.media span {
  font-size: 18px;
  margin: 5px 0;
}
.media span.idle {
  color: #bbb;
}

.progress {
  width: 100%; height: 3px;
  background: #111;
  display: block;
  margin: 25px 0 10px 0;
  position: relative;
}
.bar {
  position: absolute; left: 0; top: 0; bottom: 0;
  display: block;
  height: 3px;
  width: 0;
  background: steelblue;
}