{% extends 'base.html' %}

{% block content %}
<section>
	<h1>Local Network</h1>
	<div class="container">
		{% for atv in context.atvs %}
		<div class="media" {% if atv.identifier %}id="{{ atv.identifier }}"{% endif %}>
			<h2>{{ atv.name }}</h2>
			<h3>{{ atv.address }}</h3>

			{% if atv.playing %}
				{% if atv.playing == 'Paused' %}
					<div class="status paused"></div>
				{% else %}
					<div class="status playing"></div>
				{% endif %}
					<!--<marquee scrolldelay="100">-->
						<span class="playing">{{ atv.now_playing }}</span>
					<!--</marquee>-->
			{% else %}
				<div class="status idle"></div>
				<span class="idle">Not Playing</span>
			{% endif %}

			<div class="progress">
				{% if atv.playing_percent %}
					{% if atv.playing_percent > 100 %}
						<div class="bar" style="width: 100%"></div>
					{% elif atv.playing_percent > 0 %}
						<div class="bar" style="width: {{ atv.playing_percent }}%"></div>
					{% endif %}
				{% endif %}
			</div>

			<div class="times">
				{% if atv.current_position %}
					<span class="count-up">{{ atv.current_position }}</span>
					<span class="count-down" id="{{ atv.identifier }}-cd">{{ atv.time_remaining }}</span>
				{% elif atv.playing_percent %}
					{% if atv.playing_percent > 100 %}
						<span class="count-up">Live TV Session</span>
					{% endif %}
				{% endif %}
			</div>

		</div>
		{% endfor %}
	</div>
</section>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript">
	function startTimer(timer) {
		var presentTime = timer;
		var timeArray = presentTime.split(/[:]+/);
		var m = timeArray[0];
		var s = checkSecond((timeArray[1] - 1));
		if(s==59){m=m-1}
		//if(m<0){alert('timer completed')}

		timer.innerHTML = m + ":" + s;
		//console.log(m)
		setTimeout(startTimer, 1000);
	}

	function checkSecond(sec) {
		if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
		if (sec < 0) {sec = "59"};
		return sec;
	}

	{% for atv in context.atvs %}
		{% if atv.current_position %}
			window.onload = function () {

			    var timeDisplay = document.getElementById('{{ atv.identifier }}-cd').innerHTML;
			    startTimer(timeDisplay);
			};
		{% endif %}
	{% endfor %}

</script>

{% endblock %}