{% extends 'base.html' %}

{% block content %}
<section>
	<h1>Local Network</h1>
	<div class="container">
		{% for local in context.local %}
		<div class="media" {% if local.identifier %}id="{{ local.identifier }}"{% endif %}>
			<h2>{{ local.name }}</h2>
			<h3>{{ local.address }}</h3>

			{% if local.playing %}
				{% if local.playing == 'Paused' %}
					<div class="status paused"></div>
				{% else %}
					<div class="status playing"></div>
				{% endif %}
					<!--<marquee scrolldelay="100">-->
						<span class="playing">{{ local.now_playing }}</span>
					<!--</marquee>-->
			{% else %}
				<div class="status idle"></div>
				<span class="idle">Not Playing</span>
			{% endif %}

			<div class="progress">
				{% if local.playing_percent %}
					{% if local.playing_percent > 100 %}
						<div class="bar" style="width: 100%"></div>
					{% elif local.playing_percent > 0 %}
						<div class="bar" style="width: {{ local.playing_percent }}%"></div>
					{% endif %}
				{% endif %}
			</div>

			<div class="times">
				{% if local.current_position %}
					<span class="count-up">{{ local.current_position }}</span>
					<span class="count-down" id="{{ local.identifier }}-cd">{{ local.time_remaining }}</span>
				{% elif local.playing_percent %}
					{% if local.playing_percent > 100 %}
						<span class="count-up">Live TV Session</span>
					{% endif %}
				{% endif %}
			</div>

		</div>
		{% endfor %}
	</div>
</section>
<section>
	{% if context.remote %}
		<h1>Remote Sessions</h1>
	{% endif %}

	<div class="container">
		{% for remote in context.remote %}
		<div class="media" {% if remote.identifier %}id="{{ remote.identifier }}"{% endif %}>
			<h2>{{ remote.name }}</h2>
			<h3>{{ remote.address }}</h3>

			{% if remote.playing %}
				{% if remote.playing == 'Paused' %}
					<div class="status paused"></div>
				{% else %}
					<div class="status playing"></div>
				{% endif %}
					<!--<marquee scrolldelay="100">-->
						<span class="playing">{{ remote.now_playing }}</span>
					<!--</marquee>-->
			{% else %}
				<div class="status idle"></div>
				<span class="idle">Not Playing</span>
			{% endif %}

			<div class="progress">
				{% if remote.playing_percent %}
					{% if remote.playing_percent > 100 %}
						<div class="bar" style="width: 100%"></div>
					{% elif remote.playing_percent > 0 %}
						<div class="bar" style="width: {{ remote.playing_percent }}%"></div>
					{% endif %}
				{% endif %}
			</div>

			<div class="times">
				{% if remote.current_position %}
					<span class="count-up">{{ remote.current_position }}</span>
					<span class="count-down" id="{{ remote.identifier }}-cd">{{ remote.time_remaining }}</span>
				{% elif remote.playing_percent %}
					{% if remote.playing_percent > 100 %}
						<span class="count-up">Live TV Session</span>
					{% endif %}
				{% endif %}
			</div>

		</div>
		{% endfor %}
	</div>
</section>

{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript">

	$(document).ready(function() {
		console.log({{ console|safe }});
	});

	function startTimer(timer) {
		var presentTime = timer;
		var timeArray = presentTime.split(/[:]+/);
		var m = timeArray[0];
		var s = checkSecond((timeArray[1] - 1));
		if(s==59){m=m-1}
		//if(m<0){alert('timer completed')}

		timer.innerHTML = m + ":" + s;
		//console.log(m)
		setTimeout(startTimer, 1000);
	}

	function checkSecond(sec) {
		if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
		if (sec < 0) {sec = "59"};
		return sec;
	}

	{% for media in context.medias %}
		{% if local.current_position %}
			window.onload = function () {

			    var timeDisplay = document.getElementById('{{ local.identifier }}-cd').innerHTML;
			    startTimer(timeDisplay);
			};
		{% endif %}
	{% endfor %}

</script>

{% endblock %}